<div class="my-stylish-navbar">
  <LinkTo @route="multiplayer">Play Together Over The Web</LinkTo>
  <LinkTo @route="index">Play Together Locally</LinkTo>
</div>
<div class="break"></div>
<div class="game-container">
  {{outlet}}
</div>
