<h1>Welcome to tic-tac-toe multiplayer!</h1>
<div>
  <Multiplayer::CreateNewGame />
  <div class="break"></div>
  <Multiplayer::JoinExistingGame />
  <div class="break"></div>
  <Multiplayer::RecentGames::RecentGames />
</div>
