<Multiplayer::BoardSmartComponent @gameId={{@model.gameId}} @player={{@model.player}} @game={{@model.game}}/>
<p><b>Note:</b> Due to not using web sockets, the updating on your friend's side could take take a second or two. We are aware of this, and will work to make it more snappy</p>