<div class="board-container">
  <div >
    {{#each @board as |row rowIndex|}}
      <div>
        {{#each row as |cell columnIndex|}}
          <Cell @cell={{cell}} />
        {{/each}}
      </div>
    {{/each}}
  </div>
  {{yield}}
</div>