<button {{on "click" this.startNew}}>Start new game</button>
<div class="board-container">
  {{#each this.board as |row rowIndex|}}
    <div>
      {{#each row as |cellRef ColumnIndex|}}
        <Cell @detail={{cellRef}} />
      {{/each}}
    </div>
  {{/each}}
</div>