<div class="board-container">
  <div class="board">
    {{#each @board as |row rowIndex|}}
        {{#each row as |cell columnIndex|}}
          <Cell @cell={{cell}} />
        {{/each}}
    {{/each}}
  </div>
  {{yield}}
</div>