<div class="board-container">
  <div>
    <Cell />
    <Cell />
    <Cell />
  </div>
  <div>
    <Cell />
    <Cell />
    <Cell />
  </div>
  <div>
    <Cell />
    <Cell />
    <Cell />
  </div>
</div>