<div>

  <md-outlined-text-field label="Game name" id="multiplayer_gameName" {{on "input" this.handleInput}} />
  <md-outlined-text-field label="Your name" id="multiplayer_playerXName" {{on "input" this.handleInput}}/>
  <md-filled-button {{on "click" this.createGame}} >Create new game</md-filled-button>
</div>