<div>
  <div class="mdl-textfield mdl-js-textfield">
    <input type="text" id="multiplayer_gameid" class="mdl-textfield__input" />
    <label for="multiplayer_gameid" class="mdl-textfield__label">gameId</label>

  </div>
  <div class="mdl-textfield mdl-js-textfield">
    <input
      type="text"
      id="multiplayer_player_name"
      class="mdl-textfield__input"
    />
    <label for="multiplayer_player_name" class="mdl-textfield__label">Player
      Name</label>

  </div>
  <button
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
    type="button"
  >Join Game
  </button>
</div>