<h2>recent games</h2>
{{#if this.loaded}}
  <h3>In Progress</h3>
  <RecentGames::List @list={{this.inProgress}} @ifEmpty="There are no games in progress"/>
  <h3>Completed</h3>
  <RecentGames::List @list={{this.completed}} @ifEmpty="There are no games currently in a completed state"/>
{{else}}
  <p>Loading games</p>
{{/if}}