<h2>recent games</h2>
<ul class="mdl-list">
  <li class="mdl-list__item"><span class="mdl-list__item-primary-content">game 1</span></li>
  <li class="mdl-list__item"><span class="mdl-list__item-primary-content">game 2</span></li>
  <li class="mdl-list__item"><span class="mdl-list__item-primary-content">game 3</span></li>
</ul>