<div class="board-container">
  <div class="board">
    {{#each @board as |row|}}
      {{#each row as |cell|}}
        <GameBoard::Cell @cell={{cell}} />
      {{/each}}
    {{/each}}
  </div>
  {{yield}}
</div>